<div class="container show-service">
    <%= link_to t('.back_to_access_points'), services_path, class: "btn btn-primary back-btn" %>
    <div class="access-point">
    <div class="ap-title">
        <img src="<%= @service.ngo.logo %>" alt="logo" height="42"/><h3><%= @service.name %></h3>
    </div>
    <i><%= @service.ngo.name %></i>
    <p><%= @service.address %></p>
    <p><%= @service.phone %></p>
    <p><%= @service.mail %></p>
    <p><%= @service.link %></p>
    <p><%= @service.comment %></p>
    <% if policy(@service).edit? %>
      <%= link_to 'Edit', edit_service_path(@service) %>
    <% end %>
  </div>
  <% if @service.activity_slots.any? %>
    <%= render 'components/activity_card', service: @service %>
  <% else %>
    <%= t('.no_activity') %>
  <% end %>
  <% if policy(@service).edit? %>
    <div class="new-activity">
      <h4><%= t('.new_activity') %></h4>
      <%= render 'activity_slots/form', service: @service, activity_slot: @activity_slot %>
      <br>
    </div>
  <% end %>
  <br>
</div>
