<div class="card-service">
  <div class="card-header">
    <div class="card-name">
      <%= service.name %>
    </div>
  </div>
  <div class="card-content">
    <p>Tel: <%= service.phone %></p>
    <p>Address: <%= service.address %></p>
    <div class="card-activities">
      <strong><%= t('.activities') %></strong>
      <ul>
        <% service.activity_slots.each do |activity_slot| %>
          <li>
              <% activity_slot.categories.each do |cat| %>
                <%= cl_image_tag cat.icon, height: 14, class: "category-icon" %>
              <% end %>
            <%= activity_slot.title %> <br>
            <i><%= activity_slot.opening_hours %></i>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
