<div class="container">
  	<h2>SoliMap</h2>

<!--     <input type="text" id="service_address" placeholder="Search..">
 -->    <div class="row">
  	<div class="col-xs-12 col-md-8" id="map" data-markers="<%= @markers.to_json %>"></div>
    <div class="col-xs-12 col-md-4">
      <h3>Categories:</h3>
      <%= form_tag(root_path, method: :get) do %>
        <ul>
          <% @categories.each do |category| %>
            <li>
              <label class="category-option btn btn-chore btn-small btn-block" id="label-<%= category.split.first %>" for="<%= category.split.first %>">
                 <%= check_box_tag "category[]", category, @params[:category].include?(category), id: category.split.first, class: "category-checkbox", style: 'visibility: hidden' %>
                 <%= render partial: 'components/category_card', locals: { category: category } %>
              </label>
            </li>
          <% end %>
        </ul>
        <div class="submit-search-container">
          <%= submit_tag("Search", class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row col-xs-12 col-md-8 col-md-offset-2 container card-presentation">
    <div class="card-header">
      <h4>All services available:</h4>
    </div>
    <div class="card-content">
      <table>
        <thead>
          <tr>
            <th class="t-left">Service</th>
            <th>Phone</th>
            <th>Hours</th>
            <th>Address</th>
          </tr>
        </thead>

        <tbody>
          <% @services.each do |service| %>
            <tr>
              <td class="t-left"><%= service.name %></td>
              <td><%= service.phone %></td>
              <td><%= service.hour %></td>
              <td><%= service.address %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>




