<div class="container">
  <div class="row">
    <h1>SoliMap</h1>
  	<div class="col-xs-12 col-md-8" id="map" data-markers="<%= @markers.to_json %>">

    </div>
    <div class="col-xs-12 col-md-4">
      <%= form_tag(root_path, method: :get) do %>
      <h4>Location</h4>
        <div class="searchbar">
          <%= text_field_tag 'location', nil, placeholder: 'Ile de France', size: 30, id: "search-location" %>
        </div>
      <h4>Categories</h4>
        <ul>
          <% @categories.each do |category| %>
            <li>
              <label class="category-option btn btn-chore btn-small btn-block" id="label-<%= category.id %>" for="<%= category.id %>">
                 <%= check_box_tag "category_ids[]", category.id, @catids_selected.include?(category.id), id: category.id, class: "category-checkbox", style: 'visibility: hidden' %>
                 <%= render partial: 'components/category_card', locals: { category: category } %>
              </label>
            </li>
          <% end %>
        </ul>
      <div class="submit-search-container">
        <%= submit_tag("Search", class: "btn btn-primary") %>
      </div>
      <% end %>
    </div>
  </div>
  <div>
    <% @services.each do |service| %>
      <%= service.name %>
    <% end %>
  </div>

<!--   <div class="row col-xs-12 col-md-8 container card-presentation">
    <div>
      <h4 class="result-title">Results</h4>
    </div>
    <div>

      <%# @params[:category_ids].each do |category_id| %>
        <button class="category-list active btn btn-chore btn-small btn-block" type="button" data-toggle="collapse" data-target="#collapse<%#= category_id %>" aria-expanded="false" aria-controls="collapse<%#= category_id %>">
            <%#= cl_image_tag Category.find(category_id).icon, height: 25, class: "category-icon" %>
            <span class="category-name">
              <%#= Category.find(category_id).name %>
            </span>
        </button>
        <div class="collapse in" id="collapse<%#= category_id %>">
            <%# @services.where(category: category).each do |service| %>
              <%#= render partial: 'components/service_card', locals: { service: service } %>
            <%# end %>
        </div>
      <%# end %>

    </div>
  </div> -->
</div>
